# DATASET Creations

URL where fictional datasets were created: https://practicedatasets.online/call-center-datasets?

# DEPARTMENTS

In [37]:
import pandas as pd

dept_agents_df = pd.read_csv("../data/raw/agent_details.csv")
dept_escalations_df = pd.read_csv("../data/raw/escalated_issues.csv")

display(dept_agents_df.head())
display(dept_escalations_df.head())

,Agent ID,Name,Agent Type,Email,Phone Number,Department
0,e4e90091-6c3c-44e8-89c1-c2a6ab851b15,Christine Arnold,Full-time,emma68@example.net,(847)679-2854,Sales
1,3843d1ba-0fe8-43c4-95db-85431f587140,Sarah Chase,Full-time,angelaanderson@example.com,(500)667-3317,Technical
2,c72bc976-4e21-42d3-a344-df2d2176b1dc,Damon Smith,Full-time,hbrady@example.org,8542567120,Sales
3,e6cacfb3-112a-42fa-97d2-29ddc67b9759,Mary Simon,Contract,qparker@example.net,001-254-469-9283,Support
4,2acb7771-9ea7-4d53-9f8d-d3b24863b4cb,James Moore,Part-time,silvadenise@example.net,466.446.1426,Sales

,Escalation ID,Customer ID,Agent ID,Issue Type,Escalation Reason,Escalated Department,Resolution Status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,fd219147-0546-4e46-b97a-26de84690b9e,ebe8b5a4-caf3-46a0-a28f-09257af849f5,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,d6d606cc-a60a-46fb-9ce9-98f6720384fc,1ed2f01a-7906-4b5a-935c-6e77f4629d18,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,0073e1bc-a5a4-4348-b3b3-5d4e5e92eb75,11c275d9-0665-4d23-8db3-bab08b992b19,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,383338d7-c373-41d7-9e51-d5cad7a0a77e,4c92c7ea-2a5e-4254-bb4d-d9033d98b8ab,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,7ac86e03-e281-4e23-b5c3-bfd2a2017d38,e09ad210-5a3f-4eff-905e-2ad29b22febe,Complaint,Policy issue,Specialist,Pending

In [38]:
import pandas as pd

# Load the two CSV files
dept_agents_df = pd.read_csv("../data/raw/agent_details.csv")
dept_escalations_df = pd.read_csv("../data/raw/escalated_issues.csv")

# Clean department names
all_depts_series = pd.concat([
    dept_agents_df['Department'].astype(str).str.strip(),
    dept_escalations_df['Escalated Department'].astype(str).str.strip()
])

# Drop duplicates
all_depts_df = all_depts_series.drop_duplicates().reset_index(drop=True).to_frame(name='department_id')

# Add dummy column--FOR BETTER IMPORT OF ONE COLUMN TABLE
all_depts_df['dummy'] = ''

display(all_depts_df.head())
display(all_depts_df.dtypes)
display(all_depts_df.shape[0])

all_depts_df.to_csv("../data/clean/all_depts.csv", index=False)

  department_id dummy
0         Sales
1     Technical
2       Support
3    Specialist
4    Management

department_id    object
dummy            object
dtype: object

5

# CUSTOMERS

In [30]:
import pandas as pd

calls_df = pd.read_csv("../data/raw/call_records.csv")
abandonment_df = pd.read_csv("../data/raw/call_abandonment.csv")
escalations_df = pd.read_csv("../data/raw/escalated_issues.csv")

# unique customer id
all_customer_ids = pd.concat([
    calls_df['Customer ID'].astype(str).str.strip(),
    abandonment_df['Customer ID'].astype(str).str.strip(),
    escalations_df['Customer ID'].astype(str).str.strip()
])

customers_df = all_customer_ids.drop_duplicates().reset_index(drop=True).to_frame(name='customer_id')

# Add dummy column--FOR BETTER IMPORT OF ONE COLUMN TABLE
customers_df['dummy'] = ''
display(customers_df.head())
display(customers_df.dtypes)
display(customers_df.shape[0])

                            customer_id dummy
0  b584550c-641c-44d0-b308-25381125d9b9
1  1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2
2  2320fd15-7b8d-4f1b-844e-d7716b6e8970
3  53fd6b84-3d16-4282-a4dc-2981250ea2de
4  a2302e13-7a77-4091-81e5-701f959100ac

customer_id    object
dummy          object
dtype: object

60000

In [19]:
# Clean column names
customers_df.columns = customers_df.columns.str.lower().str.replace(' ', '_')

print(customers_df.columns)
#display(customers_df.head())
#display(customers_df.dtypes)

Index(['call_id', 'customer_id', 'agent_id', 'call_duration', 'call_type',
       'issue'],
      dtype='object')

In [17]:
agent_df.to_csv('../data/clean/customers.csv', index=False)

# AGENT DETAILS

In [9]:
import pandas as pd

agent_df = pd.read_csv("../data/raw/agent_details.csv")
agent_df.head()
#agent_df.shape

,Agent ID,Name,Agent Type,Email,Phone Number,Department
0,e4e90091-6c3c-44e8-89c1-c2a6ab851b15,Christine Arnold,Full-time,emma68@example.net,(847)679-2854,Sales
1,3843d1ba-0fe8-43c4-95db-85431f587140,Sarah Chase,Full-time,angelaanderson@example.com,(500)667-3317,Technical
2,c72bc976-4e21-42d3-a344-df2d2176b1dc,Damon Smith,Full-time,hbrady@example.org,8542567120,Sales
3,e6cacfb3-112a-42fa-97d2-29ddc67b9759,Mary Simon,Contract,qparker@example.net,001-254-469-9283,Support
4,2acb7771-9ea7-4d53-9f8d-d3b24863b4cb,James Moore,Part-time,silvadenise@example.net,466.446.1426,Sales

In [10]:
# Split full name to first name and last name
agent_df[['First Name', 'Last Name']] = agent_df['Name'].str.split(' ', n=1, expand=True)

agent_df.drop(columns=['Name'], inplace=True)

# Reorder columns
cols = agent_df.columns.tolist()
idx = cols.index('Agent ID')
new_order = cols[:idx+1] + ['First Name', 'Last Name'] + [col for col in cols if col not in ['Agent ID', 'First Name', 'Last Name']]
agent_df = agent_df[new_order]

display(agent_df.head())

,Agent ID,First Name,Last Name,Agent Type,Email,Phone Number,Department
0,e4e90091-6c3c-44e8-89c1-c2a6ab851b15,Christine,Arnold,Full-time,emma68@example.net,(847)679-2854,Sales
1,3843d1ba-0fe8-43c4-95db-85431f587140,Sarah,Chase,Full-time,angelaanderson@example.com,(500)667-3317,Technical
2,c72bc976-4e21-42d3-a344-df2d2176b1dc,Damon,Smith,Full-time,hbrady@example.org,8542567120,Sales
3,e6cacfb3-112a-42fa-97d2-29ddc67b9759,Mary,Simon,Contract,qparker@example.net,001-254-469-9283,Support
4,2acb7771-9ea7-4d53-9f8d-d3b24863b4cb,James,Moore,Part-time,silvadenise@example.net,466.446.1426,Sales

In [11]:
# Clean column names
agent_df.columns = agent_df.columns.str.lower().str.replace(' ', '_')

print(agent_df.columns)

Index(['agent_id', 'first_name', 'last_name', 'agent_type', 'email',
       'phone_number', 'department'],
      dtype='object')

In [12]:
agent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   agent_id      200 non-null    object
 1   first_name    200 non-null    object
 2   last_name     200 non-null    object
 3   agent_type    200 non-null    object
 4   email         200 non-null    object
 5   phone_number  200 non-null    object
 6   department    200 non-null    object
dtypes: object(7)
memory usage: 11.1+ KB

In [13]:
import pandas as pd

print(agent_df.isna().sum())

agent_id        0
first_name      0
last_name       0
agent_type      0
email           0
phone_number    0
department      0
dtype: int64

In [14]:
# Abbreviation of agent_types
agent_df['agent_type'] = agent_df['agent_type'].map({
    'Full-time': 'FT',
    'Part-time': 'PT',
    'Contract': 'C'
})

print(agent_df['agent_type'].unique())

['FT' 'C' 'PT']

In [15]:
# Phone numbers are from USA--> remove country prefix
import re

def clean_phone_number(number):
    # Remove +1 or 001 prefix
    number = re.sub(r'^(\+1|001)[-\s\.]?', '', number)
    # Remove anything after 'x' or 'X' (extension)
    number = re.sub(r'[xX].*$', '', number)
    # Replace symbols with spaces
    number = re.sub(r'[()\.\-]', ' ', number)
    number = re.sub(r'\s+', ' ', number).strip()
    return number

agent_df['phone_number'] = agent_df['phone_number'].apply(clean_phone_number)

display(agent_df[['phone_number']].head(20))
display(agent_df[['phone_number']].tail(20))

    phone_number
0   847 679 2854
1   500 667 3317
2     8542567120
3   254 469 9283
4   466 446 1426
5   954 979 9151
6   481 743 4689
7   506 869 4725
8   941 427 8832
9     4432500205
10  647 817 2502
11  910 948 0692
12  785 529 2916
13  961 683 2319
14  385 505 6476
15  815 992 0588
16  413 496 1405
17  405 941 6294
18  202 850 6422
19  227 572 6078

     phone_number
180  627 918 2826
181  844 919 9664
182  660 202 0628
183  598 253 5543
184    9382468417
185  974 738 3866
186  223 204 0729
187  836 201 0097
188  645 462 6799
189  341 244 4081
190  947 448 8041
191  914 996 5562
192  357 821 2521
193  332 683 3624
194  796 677 6482
195  857 758 6166
196  420 601 3598
197  791 508 0249
198  254 648 0575
199  683 927 6373

In [48]:
import re

# phone number function
def format_phone_number(phone):
    # Check if the phone number is without spaces
    if re.match(r'^\d{10}$', phone):
        # Add a space after 3rd and 6th digits
        return f"{phone[:3]} {phone[3:6]} {phone[6:]}"
    else:
        return phone

# call function
agent_df['phone_number'] = agent_df['phone_number'].apply(format_phone_number)

# Add dummy column--FOR BETTER IMPORT OF ONE COLUMN TABLE
agent_df['dummy'] = ''

display(agent_df.head(20))
display(agent_df.tail(20))

,agent_id,first_name,last_name,agent_type,email,phone_number,department,dummy
0,e4e90091-6c3c-44e8-89c1-c2a6ab851b15,Christine,Arnold,FT,emma68@example.net,847 679 2854,Sales,
1,3843d1ba-0fe8-43c4-95db-85431f587140,Sarah,Chase,FT,angelaanderson@example.com,500 667 3317,Technical,
2,c72bc976-4e21-42d3-a344-df2d2176b1dc,Damon,Smith,FT,hbrady@example.org,854 256 7120,Sales,
3,e6cacfb3-112a-42fa-97d2-29ddc67b9759,Mary,Simon,C,qparker@example.net,254 469 9283,Support,
4,2acb7771-9ea7-4d53-9f8d-d3b24863b4cb,James,Moore,PT,silvadenise@example.net,466 446 1426,Sales,
5,0980b2ce-017c-41de-904a-972c168ae274,Eric,Alexander,PT,bakerbradley@example.com,954 979 9151,Sales,
6,a4a58475-81ef-4ac2-8158-d41b2749cf26,Jeffery,Price,FT,ramirezcurtis@example.com,481 743 4689,Support,
7,0ff5b587-a738-4203-a04e-21ddf959be6c,Matthew,Mendez,FT,gcarney@example.com,506 869 4725,Support,
8,519f16ea-87d6-4ec1-b6eb-664c0e94ea49,Erin,Robinson,PT,davidgonzalez@example.com,941 427 8832,Sales,
9,df9aea96-5032-4bde-9787-454f804230eb,Gloria,Brewer,C,andrea92@example.org,443 250 0205,Support,
10,7bc0ab65-9a32-4825-b2ee-c00a3eaa25ab,Christina,Long,PT,markdavis@example.com,647 817 2502,Sales,
11,1bd938f9-17a4-4dc5-85ae-c41e4cdfab28,Joseph,Rodriguez,FT,zdavidson@example.com,910 948 0692,Sales,
12,d99d96fb-d974-4d19-9b29-84c3a4e499dc,Christopher,Hernandez,PT,ltanner@example.net,785 529 2916,Support,
13,453de57e-e2f6-402a-b3c1-7bb0e87c628f,Arthur,Meadows,C,alexanderthompson@example.net,961 683 2319,Technical,
14,b6fa83c5-b5b7-4acb-9fdd-adb98ca8c09f,Christian,Oliver,FT,mackrichard@example.com,385 505 6476,Sales,
15,75c5382b-00f6-477d-b83a-2c743bc2ad05,Dana,Craig,C,joannaclark@example.com,815 992 0588,Technical,
16,7378b553-fb39-4dde-ad3b-a80a3086eb28,Madison,Reyes,PT,michaelyoung@example.com,413 496 1405,Technical,
17,bc59a0f4-f884-4b96-971a-4a51b85a2625,Katrina,Finley,FT,johnsonkimberly@example.net,405 941 6294,Sales,
18,c5ade3ea-f420-47f5-8e73-ccba274acf46,Robert,Hicks,FT,angela49@example.org,202 850 6422,Technical,
19,2f7bcc5c-d1fa-47c4-bd07-14599e1a5ec0,Kylie,Wong,FT,jenniferroberts@example.com,227 572 6078,Support,

,agent_id,first_name,last_name,agent_type,email,phone_number,department,dummy
180,10313bde-e344-47be-a755-210f03347030,Amy,Nelson,FT,amanda37@example.net,627 918 2826,Sales,
181,cfe538f5-f2bd-41b0-a7eb-e8127ebcd901,Cindy,Colon,PT,kennethwilkinson@example.org,844 919 9664,Sales,
182,56cf782e-9c36-4575-b0f8-73752238f153,Andrea,Bender,PT,powelljack@example.com,660 202 0628,Support,
183,952d20f1-dc78-4aad-83f8-dfe1e01a83e0,Brendan,Oconnor,C,jonathansandoval@example.com,598 253 5543,Sales,
184,733e0983-900c-4ef8-ae5a-e6737d57ecc4,Jennifer,Morgan,C,nbrowning@example.org,938 246 8417,Technical,
185,73ab41ee-09d5-4155-9860-d6949d052ac1,Peter,Luna,C,joshua21@example.com,974 738 3866,Technical,
186,dfeb2a22-1ef9-44d3-bc16-6e6c58547702,Carlos,Mills,FT,mooregrace@example.com,223 204 0729,Technical,
187,6bc6c08d-b557-4dca-bbd5-70f6b53f3b05,Elizabeth,Beck,C,christopherhoover@example.net,836 201 0097,Sales,
188,d81406ec-e22b-4c5a-bfd9-9e0f4e5ef906,Michael,Potter,PT,martinrobert@example.org,645 462 6799,Technical,
189,733dd5ba-46ba-47c0-839f-e9a501d8c66e,Andrea,Tapia,PT,coopercarolyn@example.org,341 244 4081,Sales,
190,740bd783-2ae5-4123-9a1b-3acca4622b3b,Connor,Burns,C,jacobsantos@example.net,947 448 8041,Sales,
191,3d337902-a266-4da9-a2f2-7ee961ea9200,David,Brown,FT,katie41@example.net,914 996 5562,Sales,
192,40e0c5d2-f84e-4ef2-bb80-953f6d40aa51,Joshua,Hill,FT,amanda63@example.com,357 821 2521,Sales,
193,4da959df-0c2f-4ba7-954e-bfd99639c8d2,Daniel,Lewis,PT,christina57@example.net,332 683 3624,Support,
194,494c6210-fb16-4699-aa49-407f8fad5b69,Joshua,Estrada,FT,tinahernandez@example.org,796 677 6482,Technical,
195,0e09d2a7-c15c-429c-8e9b-bc6b0b3dd51b,Shane,Smith,PT,wattsbrian@example.org,857 758 6166,Sales,
196,a897e3ca-28e4-4866-ac84-d753b0e14f6f,Sean,Stone,FT,christinakrause@example.net,420 601 3598,Technical,
197,97bae71b-aec7-4d3e-81b3-e77fd1a2437d,Michael,Gonzalez,C,williamwilliams@example.net,791 508 0249,Sales,
198,4f588165-5183-4f71-ad24-282565e2421b,William,Mcdaniel,C,rayodom@example.net,254 648 0575,Sales,
199,a103ccbd-1229-4a95-a358-c1b7f59ec7c4,Dr.,Pamela Rowland,PT,benjamin08@example.org,683 927 6373,Technical,

In [49]:
agent_df.to_csv('../data/clean/agents.csv', index=False)

# TEST PROOF AGENTS IN escalated_issues AND agent_details.csv
Agents in escalated_issues.csv are not first_level agents from agent_details.csv and not being evaluated.
There will be queries within the table to only see if escalations have been resolved or not at second-level "escalalated"-level.

In [3]:
#TEST PROOF AGENTS IN escalated_issues AND agent_details.csv
import pandas as pd
agent_df = pd.read_csv("../data/raw/agent_details.csv")
escalations_df = pd.read_csv("../data/raw/escalated_issues.csv")

#display(agent_df.head())
#display(escalations_df.head())

missing_agents = escalations_df[~escalations_df['Agent ID'].isin(agent_df['Agent ID'])]
missing_ids = missing_agents['Agent ID'].unique()

print(f"Missing Agent IDs in agent_df: {missing_ids}")
print(f"Total missing: {len(missing_ids)}")

Missing Agent IDs in agent_df: ['ebe8b5a4-caf3-46a0-a28f-09257af849f5'
 '1ed2f01a-7906-4b5a-935c-6e77f4629d18'
 '11c275d9-0665-4d23-8db3-bab08b992b19' ...
 '7a16970f-8c72-410a-904a-0da6b4ce39d8'
 '2b597893-2b09-4a42-8748-e63bae69d8c8'
 '6f48451f-8dee-459a-9351-2c1e7ebb8e77']
Total missing: 5000

In [5]:
print("Total agents in agent_df:", agent_df['Agent ID'].nunique())
print("Total escalations:", escalations_df.shape[0])
print("Unique agent IDs in escalations_df:", escalations_df['Agent ID'].nunique())

Total agents in agent_df: 200
Total escalations: 5000
Unique agent IDs in escalations_df: 5000

# CALL RECORDS

In [35]:
import pandas as pd

call_records_df = pd.read_csv("../data/raw/call_records.csv")
display(call_records_df.shape)
display(call_records_df.head())

(50000, 6)

,Call ID,Customer ID,Agent ID,Call Duration,Call Type,Issue
0,accc2764-24d5-47fa-8601-23ac1d7d89f0,b584550c-641c-44d0-b308-25381125d9b9,8d6d9486-30e2-40bc-8939-cdee700eebf1,50,Inbound,Complaint
1,befb90c0-aac5-4c6c-89c4-14f57d2ac30b,1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2,b1f7f5f1-f9b1-4f1b-8ad3-ad6b623c40c0,67,Outbound,Complaint
2,b14d22ea-c0dd-40b3-8d18-9c82f3770b40,2320fd15-7b8d-4f1b-844e-d7716b6e8970,031914a4-aeb6-43f5-972d-9c718e2369f6,108,Outbound,Complaint
3,174f0491-3428-4d6e-b45a-7687c2811343,53fd6b84-3d16-4282-a4dc-2981250ea2de,ab4e938f-0f23-4966-b6f6-9f7286cacd45,83,Inbound,Technical Support
4,bcf0583e-a8e4-4ca6-8a69-b682d69ddd76,a2302e13-7a77-4091-81e5-701f959100ac,a47025c9-13bb-4e82-a5f9-5344b0e51c40,29,Inbound,Technical Support

In [37]:
# Clean column names
call_records_df.columns = call_records_df.columns.str.lower().str.replace(' ', '_')

print(call_records_df.columns)

display(call_records_df.head())
display(call_records_df.dtypes)

Index(['call_id', 'customer_id', 'agent_id', 'call_duration', 'call_type',
       'issue'],
      dtype='object')

,call_id,customer_id,agent_id,call_duration,call_type,issue
0,accc2764-24d5-47fa-8601-23ac1d7d89f0,b584550c-641c-44d0-b308-25381125d9b9,8d6d9486-30e2-40bc-8939-cdee700eebf1,50,Inbound,Complaint
1,befb90c0-aac5-4c6c-89c4-14f57d2ac30b,1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2,b1f7f5f1-f9b1-4f1b-8ad3-ad6b623c40c0,67,Outbound,Complaint
2,b14d22ea-c0dd-40b3-8d18-9c82f3770b40,2320fd15-7b8d-4f1b-844e-d7716b6e8970,031914a4-aeb6-43f5-972d-9c718e2369f6,108,Outbound,Complaint
3,174f0491-3428-4d6e-b45a-7687c2811343,53fd6b84-3d16-4282-a4dc-2981250ea2de,ab4e938f-0f23-4966-b6f6-9f7286cacd45,83,Inbound,Technical Support
4,bcf0583e-a8e4-4ca6-8a69-b682d69ddd76,a2302e13-7a77-4091-81e5-701f959100ac,a47025c9-13bb-4e82-a5f9-5344b0e51c40,29,Inbound,Technical Support

call_id          object
customer_id      object
agent_id         object
call_duration     int64
call_type        object
issue            object
dtype: object

In [38]:
import pandas as pd
call_records_df['issue'].unique()

display(call_records_df.dtypes)

call_id          object
customer_id      object
agent_id         object
call_duration     int64
call_type        object
issue            object
dtype: object

In [39]:
display(call_records_df.head())

,call_id,customer_id,agent_id,call_duration,call_type,issue
0,accc2764-24d5-47fa-8601-23ac1d7d89f0,b584550c-641c-44d0-b308-25381125d9b9,8d6d9486-30e2-40bc-8939-cdee700eebf1,50,Inbound,Complaint
1,befb90c0-aac5-4c6c-89c4-14f57d2ac30b,1be4ea93-a4b3-46fd-9f9f-7c48b1b196d2,b1f7f5f1-f9b1-4f1b-8ad3-ad6b623c40c0,67,Outbound,Complaint
2,b14d22ea-c0dd-40b3-8d18-9c82f3770b40,2320fd15-7b8d-4f1b-844e-d7716b6e8970,031914a4-aeb6-43f5-972d-9c718e2369f6,108,Outbound,Complaint
3,174f0491-3428-4d6e-b45a-7687c2811343,53fd6b84-3d16-4282-a4dc-2981250ea2de,ab4e938f-0f23-4966-b6f6-9f7286cacd45,83,Inbound,Technical Support
4,bcf0583e-a8e4-4ca6-8a69-b682d69ddd76,a2302e13-7a77-4091-81e5-701f959100ac,a47025c9-13bb-4e82-a5f9-5344b0e51c40,29,Inbound,Technical Support

In [40]:
call_records_df.to_csv('../data/clean/calls.csv', index=False)

# ESCALATED ISSUES

In [7]:
import pandas as pd

escalated_issues_df = pd.read_csv("../data/raw/escalated_issues.csv")
display(escalated_issues_df.head())
#display(escalated_issues_df.columns)
display(escalated_issues_df.dtypes)
escalated_issues_df.shape

,Escalation ID,Customer ID,Agent ID,Issue Type,Escalation Reason,Escalated Department,Resolution Status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,fd219147-0546-4e46-b97a-26de84690b9e,ebe8b5a4-caf3-46a0-a28f-09257af849f5,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,d6d606cc-a60a-46fb-9ce9-98f6720384fc,1ed2f01a-7906-4b5a-935c-6e77f4629d18,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,0073e1bc-a5a4-4348-b3b3-5d4e5e92eb75,11c275d9-0665-4d23-8db3-bab08b992b19,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,383338d7-c373-41d7-9e51-d5cad7a0a77e,4c92c7ea-2a5e-4254-bb4d-d9033d98b8ab,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,7ac86e03-e281-4e23-b5c3-bfd2a2017d38,e09ad210-5a3f-4eff-905e-2ad29b22febe,Complaint,Policy issue,Specialist,Pending

Escalation ID           object
Customer ID             object
Agent ID                object
Issue Type              object
Escalation Reason       object
Escalated Department    object
Resolution Status       object
dtype: object

(5000, 7)

In [ ]:
# Clean column names: lowercase and replace spaces with underscores
escalated_issues_df.columns = escalated_issues_df.columns.str.lower().str.replace(' ', '_')

print(escalated_issues_df.columns)

display(escalated_issues_df.head())
display(escalated_issues_df.dtypes)

In [ ]:
for col in escalated_issues_df.columns:
    print(f"Unique values in '{col}':")
    display(escalated_issues_df[col].unique())
    print("\n" + "-"*50 + "\n")

In [ ]:
# Count amount each customer_id appears
customer_call_counts = call_records_df['customer_id'].value_counts()

# show only customers with more than 1 call
repeat_customers = customer_call_counts[customer_call_counts > 1]

print(repeat_customers)

### Customers are not calling multiple times for an issue.
### But after escalation, issues are not always being resolved/closed.

In [ ]:
escalated_issues_df.to_csv('data/clean/escalated_issues_df_clean.csv', index=False)

# Customer Satisfaction

In [44]:
import pandas as pd
customer_satisfaction_df = pd.read_csv("../data/raw/customer_satisfaction.csv")

# Show complete comments column
pd.set_option('display.max_colwidth', None)

display(customer_satisfaction_df.head())
#display(customer_satisfaction_df.columns)
display(customer_satisfaction_df.dtypes)
display(customer_satisfaction_df.shape)

,Survey ID,Customer ID,Agent ID,Survey Date,Rating,Comments
0,f7534db5-4436-4732-ba2b-f484533e13dd,acb6e64b-b66f-4131-9f43-3c2ee7452132,afcbaef0-7f53-46c4-8527-8d76edc7f08c,2025-06-28,5,Glass only deep song growth character child. Floor experience building though station. Threat stock teach before main.\nMillion physical performance chair head we there. Resource through national politics pay water similar.
1,09ab58c7-35a2-427f-98f5-cf9d6a3c9604,d09f1519-055b-4522-9c72-2344df538ca4,d8a94d44-48fc-45ff-b9b6-55f6faa22bc4,2025-04-01,4,Themselves performance soldier middle about gun.\nRisk way base chair commercial. Bar way region. Far hard civil speech role. Common defense civil character likely everybody.
2,e8674db2-76a0-41f3-be2d-cfc79c80d78e,92e5234d-1d5c-4052-adbb-69c4bc319511,9856a5e1-5c63-4f32-9e7c-6027c4832b43,2025-02-22,1,Statement say strong price. Pass billion at but know week room.\nAgreement mission light need travel scientist. Finally build administration high kind probably. Without capital role dinner street night my whose.
3,0034d910-2c68-4e46-a3a5-43cc2e5b4ce0,f56d08de-80e7-4dc5-bb3a-32c1149a2c10,2e40c3da-5387-4631-b279-e4c21135bf49,2025-06-15,4,Why reason debate theory college nation. Weight control item reveal deal follow life.\nEconomic man continue become understand. Door data hear thought apply. Born call those.
4,eb231962-c292-4eb8-a73b-e8e9433744ab,e5debafb-ac78-4dc9-b49e-1590934173e6,067d6802-bbc2-46ba-aa62-bf9fc1b7e1b7,2025-07-09,4,Must within through. Successful capital central government.\nWithin believe nature start practice drug throughout large. Number some day.\nReally opportunity student summer degree. Shake less still analysis lead.

Survey ID      object
Customer ID    object
Agent ID       object
Survey Date    object
Rating          int64
Comments       object
dtype: object

(10000, 6)

In [45]:
# Clean column names
customer_satisfaction_df.columns = customer_satisfaction_df.columns.str.lower().str.replace(' ', '_')

print(customer_satisfaction_df.columns)
display(customer_satisfaction_df.head())
display(customer_satisfaction_df.dtypes)

Index(['survey_id', 'customer_id', 'agent_id', 'survey_date', 'rating',
       'comments'],
      dtype='object')

,survey_id,customer_id,agent_id,survey_date,rating,comments
0,f7534db5-4436-4732-ba2b-f484533e13dd,acb6e64b-b66f-4131-9f43-3c2ee7452132,afcbaef0-7f53-46c4-8527-8d76edc7f08c,2025-06-28,5,Glass only deep song growth character child. Floor experience building though station. Threat stock teach before main.\nMillion physical performance chair head we there. Resource through national politics pay water similar.
1,09ab58c7-35a2-427f-98f5-cf9d6a3c9604,d09f1519-055b-4522-9c72-2344df538ca4,d8a94d44-48fc-45ff-b9b6-55f6faa22bc4,2025-04-01,4,Themselves performance soldier middle about gun.\nRisk way base chair commercial. Bar way region. Far hard civil speech role. Common defense civil character likely everybody.
2,e8674db2-76a0-41f3-be2d-cfc79c80d78e,92e5234d-1d5c-4052-adbb-69c4bc319511,9856a5e1-5c63-4f32-9e7c-6027c4832b43,2025-02-22,1,Statement say strong price. Pass billion at but know week room.\nAgreement mission light need travel scientist. Finally build administration high kind probably. Without capital role dinner street night my whose.
3,0034d910-2c68-4e46-a3a5-43cc2e5b4ce0,f56d08de-80e7-4dc5-bb3a-32c1149a2c10,2e40c3da-5387-4631-b279-e4c21135bf49,2025-06-15,4,Why reason debate theory college nation. Weight control item reveal deal follow life.\nEconomic man continue become understand. Door data hear thought apply. Born call those.
4,eb231962-c292-4eb8-a73b-e8e9433744ab,e5debafb-ac78-4dc9-b49e-1590934173e6,067d6802-bbc2-46ba-aa62-bf9fc1b7e1b7,2025-07-09,4,Must within through. Successful capital central government.\nWithin believe nature start practice drug throughout large. Number some day.\nReally opportunity student summer degree. Shake less still analysis lead.

survey_id      object
customer_id    object
agent_id       object
survey_date    object
rating          int64
comments       object
dtype: object

In [46]:
customer_satisfaction_df['survey_date'] = pd.to_datetime(customer_satisfaction_df['survey_date'])
display(customer_satisfaction_df.head())
display(customer_satisfaction_df.dtypes)

,survey_id,customer_id,agent_id,survey_date,rating,comments
0,f7534db5-4436-4732-ba2b-f484533e13dd,acb6e64b-b66f-4131-9f43-3c2ee7452132,afcbaef0-7f53-46c4-8527-8d76edc7f08c,2025-06-28,5,Glass only deep song growth character child. Floor experience building though station. Threat stock teach before main.\nMillion physical performance chair head we there. Resource through national politics pay water similar.
1,09ab58c7-35a2-427f-98f5-cf9d6a3c9604,d09f1519-055b-4522-9c72-2344df538ca4,d8a94d44-48fc-45ff-b9b6-55f6faa22bc4,2025-04-01,4,Themselves performance soldier middle about gun.\nRisk way base chair commercial. Bar way region. Far hard civil speech role. Common defense civil character likely everybody.
2,e8674db2-76a0-41f3-be2d-cfc79c80d78e,92e5234d-1d5c-4052-adbb-69c4bc319511,9856a5e1-5c63-4f32-9e7c-6027c4832b43,2025-02-22,1,Statement say strong price. Pass billion at but know week room.\nAgreement mission light need travel scientist. Finally build administration high kind probably. Without capital role dinner street night my whose.
3,0034d910-2c68-4e46-a3a5-43cc2e5b4ce0,f56d08de-80e7-4dc5-bb3a-32c1149a2c10,2e40c3da-5387-4631-b279-e4c21135bf49,2025-06-15,4,Why reason debate theory college nation. Weight control item reveal deal follow life.\nEconomic man continue become understand. Door data hear thought apply. Born call those.
4,eb231962-c292-4eb8-a73b-e8e9433744ab,e5debafb-ac78-4dc9-b49e-1590934173e6,067d6802-bbc2-46ba-aa62-bf9fc1b7e1b7,2025-07-09,4,Must within through. Successful capital central government.\nWithin believe nature start practice drug throughout large. Number some day.\nReally opportunity student summer degree. Shake less still analysis lead.

survey_id              object
customer_id            object
agent_id               object
survey_date    datetime64[ns]
rating                  int64
comments               object
dtype: object

In [47]:
customer_satisfaction_df.to_csv('../data/clean/csat.csv', index=False)

# Call Abandonment

In [26]:
import pandas as pd

call_abandonment_df = pd.read_csv("../data/raw/call_abandonment.csv")

#display(call_abandonment_df.head())
#display(call_abandonment_df.columns)
#display(call_abandonment_df.dtypes)
call_abandonment_df.shape

(5000, 5)

In [27]:
# Clean column names
call_abandonment_df.columns = call_abandonment_df.columns.str.lower().str.replace(' ', '_')

print(call_abandonment_df.columns)

display(call_abandonment_df.head(20))
display(call_abandonment_df.dtypes)

Index(['call_id', 'customer_id', 'abandoned', 'abandonment_reason',
       'call_duration_before_abandonment_(mins)'],
      dtype='object')

,call_id,customer_id,abandoned,abandonment_reason,call_duration_before_abandonment_(mins)
0,6a46e92d-eea1-4b73-8280-e984be9062f2,67fceb4d-9979-458d-83d7-278bb72071a1,False,Not Interested,9.0
1,9f7701fa-e09c-492d-ad17-965d3f78d7cf,b0b60b98-c26b-4762-ab03-9cd12686a342,False,Not Interested,NaN
2,dc2f1429-8426-4adc-b2f6-a8c71936ac06,44eeb102-aa03-4409-bc45-d5167b02108a,True,Answered by Wrong Department,8.0
3,c33d4e40-43ea-48b7-a993-0963f4c51cf5,be62532a-b9d7-49a4-9592-ef3e2dffa42b,False,Long Wait Time,NaN
4,81b1bc42-ab35-4579-94c3-c5d732ef680a,f1bca76b-4a97-49ac-b51d-51ce2e861877,True,Long Wait Time,NaN
5,6facd9b3-44ad-429e-a32f-3290f8544205,09ce4630-72f1-455e-ba3a-61a01b949ed3,True,Answered by Wrong Department,NaN
6,83679ce6-3219-4291-b109-7f940176c007,13998d2a-89f4-4e22-9a19-ef3f8f20ab0a,False,Not Interested,6.0
7,3f9fb6df-7883-4b3f-a7e0-9fe7a48ac75b,8bc7c7c5-a3cb-45f7-b6fc-a31b0e8f2f44,False,Answered by Wrong Department,NaN
8,39e11f36-0c69-481f-b9a4-e22715241efe,2c8a4311-70d0-4efe-a4e9-633b8843768e,False,Answered by Wrong Department,NaN
9,4b8e659e-ef3b-40b8-b451-3d3a3bb3510e,a14b933b-f871-4268-9757-65a6e9f9c7d0,True,Not Interested,NaN
10,03ee3b6e-d71a-4b0b-97bf-ca4a498de964,362180cb-1b24-4d4c-a434-b5b12c09fae9,False,Long Wait Time,1.0
11,f0fee78a-dc4f-49b8-80f2-1f0be87f2e2c,816577a2-ad0e-41cf-8ed4-ee60b9fb5d46,True,Long Wait Time,4.0
12,bc4de86d-55c3-4b1e-9da9-11ff95e12b6a,b8fe9dc6-2b2c-40c3-a918-a7e82fe90e19,False,Long Wait Time,8.0
13,4f18b655-64ce-4406-8983-4a7d75e0df39,4a38e95f-ef7b-4018-8f1c-73b45b46f3e9,True,Long Wait Time,9.0
14,35697152-c284-475d-b939-7650fb37cb37,1e64112c-c258-4e82-9506-65809ecb2ca6,True,Not Interested,NaN
15,e63041f1-59d5-4c4c-baaf-5089326663fd,fa87d3d2-51c7-4767-96a8-fced8444f967,True,Not Interested,5.0
16,f76e1b5b-645e-4e48-8975-b6575ea08839,7fb7a4b5-1f03-44a5-92fe-4f3b9fc06ff9,True,Not Interested,NaN
17,14d07b27-c35d-4c01-b873-ab80ec484ff0,a89e0c89-0dd7-4ee0-a171-1f6068b2c300,False,Answered by Wrong Department,NaN
18,cca2db58-e0a0-4beb-b239-945184633d09,0c46a89d-0850-46cc-ad16-5db3485daf80,True,Answered by Wrong Department,NaN
19,794dc627-192a-4084-9285-fb91c47a39d8,e993ba9a-74bf-4754-a48a-4bd35b1b9791,False,Long Wait Time,4.0

call_id                                     object
customer_id                                 object
abandoned                                     bool
abandonment_reason                          object
call_duration_before_abandonment_(mins)    float64
dtype: object

In [28]:
print(call_abandonment_df['call_duration_before_abandonment_(mins)'].unique())

[ 9. nan  8.  6.  1.  4.  5. 10.  3.  7.  2.]

In [29]:
# Count NaNs in 'call_duration_before_abandonment_(mins)' column
nan_count = call_abandonment_df['call_duration_before_abandonment_(mins)'].isna().sum()

print(f"Number of NaNs in 'call_duration_before_abandonment_(mins)': {nan_count}")

Number of NaNs in 'call_duration_before_abandonment_(mins)': 2521

In [30]:
call_abandonment_df.shape

(5000, 5)

In [31]:
import numpy as np
# fill rows where abandoned is "false" to NAN
call_abandonment_df.loc[call_abandonment_df['abandoned'] == False, 'abandonment_reason'] = np.nan
call_abandonment_df.loc[call_abandonment_df['abandoned'] == False, 'call_duration_before_abandonment_(mins)'] = np.nan

# fill rows where abandoned is "true" in call duration to NaN
# For rows where abandoned = True and call_duration_before_abandonment_(mins) is NaN, set call_duration_before_abandonment_(mins) to NaN
call_abandonment_df.loc[(call_abandonment_df['abandoned'] == True) & (call_abandonment_df['call_duration_before_abandonment_(mins)'].isna()), 'call_duration_before_abandonment_(mins)'] = np.nan

display(call_abandonment_df.head())

,call_id,customer_id,abandoned,abandonment_reason,call_duration_before_abandonment_(mins)
0,6a46e92d-eea1-4b73-8280-e984be9062f2,67fceb4d-9979-458d-83d7-278bb72071a1,False,NaN,NaN
1,9f7701fa-e09c-492d-ad17-965d3f78d7cf,b0b60b98-c26b-4762-ab03-9cd12686a342,False,NaN,NaN
2,dc2f1429-8426-4adc-b2f6-a8c71936ac06,44eeb102-aa03-4409-bc45-d5167b02108a,True,Answered by Wrong Department,8.0
3,c33d4e40-43ea-48b7-a993-0963f4c51cf5,be62532a-b9d7-49a4-9592-ef3e2dffa42b,False,NaN,NaN
4,81b1bc42-ab35-4579-94c3-c5d732ef680a,f1bca76b-4a97-49ac-b51d-51ce2e861877,True,Long Wait Time,NaN

In [32]:
# Compute the mean and median of the 'call_duration_before_abandonment_(mins)' column
mean_value = call_abandonment_df['call_duration_before_abandonment_(mins)'].mean()
median_value = call_abandonment_df['call_duration_before_abandonment_(mins)'].median()

# Print the results
print("Mean value:", mean_value)
print("Median value:", median_value)

Mean value: 5.399507793273175
Median value: 5.0

In [33]:
unique_abandonment_reasons_abandoned = call_abandonment_df[call_abandonment_df['abandoned'] == True]['abandonment_reason'].unique()
display(unique_abandonment_reasons_abandoned)

array(['Answered by Wrong Department', 'Long Wait Time', 'Not Interested'],
      dtype=object)

### Where abandoned = True, there are no NaN values. Query according to abandonment_reason is possible.

In [34]:
call_abandonment_df.to_csv('../data/clean/call_abandonment.csv', index=False)

# ESCALATIONS

In [35]:
import pandas as pd

escalations_df = pd.read_csv("../data/raw/escalated_issues.csv")
display(escalations_df.head())
display(escalations_df.dtypes)

,Escalation ID,Customer ID,Agent ID,Issue Type,Escalation Reason,Escalated Department,Resolution Status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,fd219147-0546-4e46-b97a-26de84690b9e,ebe8b5a4-caf3-46a0-a28f-09257af849f5,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,d6d606cc-a60a-46fb-9ce9-98f6720384fc,1ed2f01a-7906-4b5a-935c-6e77f4629d18,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,0073e1bc-a5a4-4348-b3b3-5d4e5e92eb75,11c275d9-0665-4d23-8db3-bab08b992b19,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,383338d7-c373-41d7-9e51-d5cad7a0a77e,4c92c7ea-2a5e-4254-bb4d-d9033d98b8ab,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,7ac86e03-e281-4e23-b5c3-bfd2a2017d38,e09ad210-5a3f-4eff-905e-2ad29b22febe,Complaint,Policy issue,Specialist,Pending

Escalation ID           object
Customer ID             object
Agent ID                object
Issue Type              object
Escalation Reason       object
Escalated Department    object
Resolution Status       object
dtype: object

In [36]:
# Clean column names: lowercase and replace spaces with underscores
escalations_df.columns = escalations_df.columns.str.lower().str.replace(' ', '_')

# Export cleaned DataFrame to CSV without index
escalations_df.to_csv('../data/clean/escalations.csv', index=False)

display(escalations_df.head())
display(escalations_df.columns)

,escalation_id,customer_id,agent_id,issue_type,escalation_reason,escalated_department,resolution_status
0,eb7ee6f4-641b-4a13-a9ab-46f75e9e319b,fd219147-0546-4e46-b97a-26de84690b9e,ebe8b5a4-caf3-46a0-a28f-09257af849f5,Billing Inquiry,Customer request,Specialist,Resolved
1,f7455727-fcc6-4a13-863c-a66649381351,d6d606cc-a60a-46fb-9ce9-98f6720384fc,1ed2f01a-7906-4b5a-935c-6e77f4629d18,Technical Support,Customer request,Management,Pending
2,532c5105-87c0-4abc-a331-dac3570ffd06,0073e1bc-a5a4-4348-b3b3-5d4e5e92eb75,11c275d9-0665-4d23-8db3-bab08b992b19,Technical Support,Policy issue,Support,Closed
3,1082529b-bed0-4287-90d6-e895e2e9d7e9,383338d7-c373-41d7-9e51-d5cad7a0a77e,4c92c7ea-2a5e-4254-bb4d-d9033d98b8ab,Technical Support,Policy issue,Specialist,Pending
4,3fa6be7a-5f42-452e-9cbf-0030f0667912,7ac86e03-e281-4e23-b5c3-bfd2a2017d38,e09ad210-5a3f-4eff-905e-2ad29b22febe,Complaint,Policy issue,Specialist,Pending

Index(['escalation_id', 'customer_id', 'agent_id', 'issue_type',
       'escalation_reason', 'escalated_department', 'resolution_status'],
      dtype='object')